name: automerge
on: pull_request

permissions:
  contents: write
  pull-requests: write
  workflows: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' || (github.actor == 'dbut2' && contains(github.head_ref, 'automerge'))
    steps:
      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
